body {
    background-color: rgba(246, 182, 255, 0.550);
    margin: 0px;
}

.texto {
    margin-left: 8em;
}

p {
    margin-left: 3em;
    margin-right: 4em;
    text-indent: 4em;
    font-size: 1.8em;
}

ul {
    margin-left: 3em;
    /* margin-right: 4em; */
    /* text-indent: 4em; */
}

li {
    font-size: 1.8em;
    margin-right: 4em;
}

.menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 6em;
    /* border: 1px solid black;
    border-radius: 4px; */
}

button {
    height: 2em;
    width: 4em;
    font-size: 1.2em;
    font-weight: bold;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.legendaImagem {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.negrito {
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 3em;
    margin-top: 0;
}

header {
    background-color: rgb(178, 0, 214);
    color: white;
}